{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block message %}
    {% for msg in app.flashes('success') %}
	<div class="alert alert-success margin-top-13">
		{% if messages_sent is defined %}
			{{ msg | trans({'%messages_sent%' : messages_sent, 
							}
							,"messages", app.request.locale) }}
		{% else %}
			{{ msg | trans }}
		{% endif %}
	</div>
    {% endfor %}
    {% for msg in app.flashes('warning') %}
	<div class="alert alert-warning margin-top-13">
		{{ msg | trans }}
	</div>
    {% endfor %}
    {% for msg in app.flashes('error') %}
	<div class="alert alert-danger margin-top-13">
		{% if credits_needed is defined  and credits_remaining is defined %}
			{{ msg | trans({'%credits_needed%' : credits_needed, 
							'%credits_remaining%' : credits_remaining,
							}
							,"messages", app.request.locale) }}
		{% else %}
			{% if error_message is defined %}
				{{ msg | trans({'%error_message%' : error_message
								},
								"messages", app.request.locale) }}
			{% else %}
				{{ msg | trans }}
			{% endif %}
		{% endif %}
	</div>
    {% endfor %}
{% endblock %}

{% block body %}
    <main class="container-fluid">
	<div class="alert alert-info margin-top-13">
		{{ 'Your remaing credits are %credits%' | trans( {'%credits%': credits }, 'messages' ) }}
	</div>
	<div class="mt-2 border-light">
	{{ include('sending/_form.html.twig',{

			    }) }}
	</div>
		
	<div class="container-fluid">
	    {% if contacts is defined and contacts|length > 0 %}
			<div id="content" class="container-fluid" {{ stimulus_controller('table', 
									{ 'url': path('sending_search'),
									'exportName': 'contacts',
								})}} data-action="entity:success->table#refreshContent" data-table-target="content">		 
				<table id="taula" class="table" 
					data-table-target="table" 
					data-page-number="{{ page }}" 
					data-page-size="{{ pageSize }}"
					data-page-sortName="{{ sortName }}"
					data-page-sortOrder="{{ sortOrder }}">
					<thead>
						<tr>
							<th data-checkbox="true"></th>
							<th data-field="id" data-sortable="true">{{"contact.id" | trans | capitalize}}</th>
							<th data-field="fullname" data-sortable="true">{{"contact.fullname" | trans | capitalize}}</th>
							<th data-field="telephone" data-sortable="true">{{"contact.telephone" | trans | capitalize}}</th>
						</tr>
					</thead>
					<tbody>
						{% for contact in contacts %}
							<tr>
								<td></td>
								<td>{{contact.id}}</td>
								<td>{{contact.fullname}}</td>
								<td>{{contact.telephone}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div class="alert alert-secondary mt-3" role="alert">{{"messages.results0" | trans }}</div>
		{% endif %}
	</div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	{{ encore_entry_link_tags('sending_view') }}
{% endblock %}

{% block javascripts %}
    {{  parent() }}
	{{ encore_entry_script_tags('sending_view') }}
{% endblock javascripts %}