{% extends 'base.html.twig' %}

{% block title %}{{'messages.appTitle' | trans }}{% endblock %}

{% block body %}
	<main class="container-fluid">
		<div class="mt-2">
			{{ include('contact/_searchForm.html.twig',{
	    'readonly': false,
			    }) }}
		</div>
		<div class="container-fluid">
			{% if contacts is defined and contacts|length > 0 %}
			<div id="content" class="container-fluid" {{ stimulus_controller('table', 
									{ 'url': path('contact_list'),
									'exportName': 'contacts',
								})}} data-action="entity:success->table#refreshContent" data-table-target="content">
				<table id="taula" class="table" data-table-target="table">
					<thead>
						<tr>
							<th data-sortable="true">{{"contact.id" | trans | capitalize}}</th>
							<th data-sortable="true">{{"contact.fullname" | trans | capitalize}}</th>
							<th data-sortable="true">{{"contact.telephone" | trans | capitalize}}</th>
							{# <th data-sortable="true">{{"contact.labels" | trans | capitalize}}</th> #}
							<th data-sortable="true" data-field="options">{{"table.options" | trans | capitalize}}</th>
						</tr>
					</thead>
					<tbody>
							{% for contact in contacts %}
								<tr>
									<td>{{contact.id}}</td>
									<td>{{contact.fullname}}</td>
									<td>{{contact.telephone}}</td>
									{# <td>
														{% if contact.labels|length > 0  %}
															<ul class="list-group" id="menu">
															{% for label in contact.labels %}
																<li class="list-group-item">{{ label.name }}
																	<i class="fa fa-remove pull-right js-label-remove" 
																		data-url="{{ path ("api_remove_contact_label",
																							{'contact': contact.id , 
																							'label': label.id })
									
																		}}"
																		data-confirmation="{{ "messages.confirmacion" | trans  }}"
																		data-message="{{ "contact.label.remove.confirmation" | trans }}"
																		data-confirm = "{{ "messages.si" | trans | capitalize }}"
																		data-cancel = "{{ "messages.no" | trans | capitalize }}"
																		></i>
																</li>
															{% endfor %}
															</ul>
														{% endif %}
													</td> #}
									<td>
										<a href="{{ path ("contact_show",{'contact': contact.id })}}">
											<i class="fa fa-eye"></i>
										</a>
										&nbsp;<a href="{{ path ("contact_edit",{'contact': contact.id })}}">
											<i class="fa fa-edit"></i>
										</a>
										&nbsp;<a class="js-delete" href="#" data-url="{{ path ("contact_delete",{"contact" : contact.id}) }}" data-confirmation="{{ "messages.confirmacion" | trans | capitalize }}" data-message="{{ "contact.delete.confirmation" | trans | capitalize }}" data-confirm="{{ "messages.si" | trans | capitalize }}" data-cancel="{{ "messages.no" | trans | capitalize }}">
											<i class="fa fa-trash"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
				<div class="border border-secondary rounded-sm text-secondary bg-light text-center p-2" role="alert">{{"messages.results0" | trans }}</div>
			{% endif %}
			<span class="pull-right">
				<a href="{{ path ('contact_new') }}" class="btn btn-primary btn-rounded fixed-bottom-right">
					<i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i>
				</a>
			</span>
		</div>
	</main>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
	{{ encore_entry_link_tags('contact_list_view') }}
{% endblock %}

{% block javascripts %}
    {{  parent() }}
	{{ encore_entry_script_tags('contact_list_view') }}
{% endblock javascripts %}